:root{
	--shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	--lavanda: #e2ddda;
	--violeta: #82617b;
	--lilas: #bda1b1;
	--roxo:  #4d394a;
	--titulo: #262229;
	--green: #c1c48e;
	--cursive: Lora, serif;
	--body: Source Sans Pro, sans-serif;
}

/*----------IMPORT----------*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}

html{
	font-family: var(--body);
	scroll-behavior: smooth;
}

/*----------HEADER----------*/

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 3rem;
	background-color: var(--green);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	box-shadow: var(--shadow);
}

.logo{
	cursor: pointer;
	width: 2.5rem;
}

.navbar a{
	margin: 0 1rem;
	font-size: 1.2rem;
	color: #fff;
	font-weight: 200;
}

.navbar a:hover{
	color: black;
	border-bottom: 2px solid black;
}

.fa{
	font-size: 1.5rem;
	color: #fff;
}

.fa:hover{
	color: black;
}

/*----------FOOTER----------*/

.footer{
	background-color: var(--green);
	padding: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer--image{
	width: 5rem;
}

.links{
	display: flex;
	flex-wrap: wrap;
	line-height: 2rem;
}

.links a{
	margin: 0 1rem;
	font-size: 1.2rem;
	color: #fff;
	font-weight: 200;
}

.links a:hover{
	color: black;
	border-bottom: 2px solid black;
}