*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}

html{
	scroll-behavior: smooth;
}

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	background-color: blueviolet;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo{
	cursor: pointer;
}

.navbar a{
	margin: 0 1rem;
	font-size: 1.1rem;
	color: #fff;
}

.navbar a:hover{
	color: black;
	border-bottom: 2px solid black;
}

.fa{
	font-size: 1.5rem;
	color: #fff;
}

.fa:hover{
	color: black;
}

#home{
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.home--content{
	width: 60rem;
	padding: 3rem;	
} 

.home--title{
	text-transform: uppercase;
	font-size: 6rem;
}

.home--button{
	background-color: blueviolet;
	color: #fff;
	border: none;
	padding: 1rem 2rem;
}

h1{
	color: black;
}